<div class="message message_received" id="message-<%=message.id%>" data-userId="<%= current_user.id %>" >
<!-- <div class="message <%#= message.user == current_user ? "msg-sent" : "msg-received"%>" id="message-<%=message.id%>" > -->
  <small><%= message.user.firstname %></small>
  <div class="msg-content">
    <h6> <%= message.content %> </h6>
  </div>
</div>
