<!--   <div class="message" id="message-<%=message.id%>">
  <p> <%= @message.user.firstname %>: <%= @message.content %> </p>
  </div>
-->

<div class="message" style="<%= message.user == current_user ? "text-align:left; color: #07689f; font-weight:bold" : "text-align:right;" %>" id="message-<%=message.id%>">
  <p> <%= message.content %> </p>
  <small> from: <%= message.user.firstname %></small>
</div>
