<div class="container">
  <h1 class="usertitle mt-3 mb-3">My Projects</h1>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-9">
      <div class="projectslist">
        <% if @projects == [] %>
          <div class="project-img">
            <img class="imgs" src="https://www.homerenodirect.com/communities/homecon2015/assets/htmltextboxuserimages/kitchen-renovation-feature.jpg?ver2" alt="">
            <div class="img-content">
              <h2>Create new project</h2>
            </div>
          </div>
        <% else %>
          <div class="project-content">
            <% @projects.each do |project| %>
              <%= link_to project_path(project) do %>
                <div class="project-img">
                  <% if project.photos.first %>
                    <%= cl_image_tag project.photos.first.key, class: "imgs" %>
                  <% else %>
                    <img class="imgs" src="https://www.homerenodirect.com/communities/homecon2015/assets/htmltextboxuserimages/kitchen-renovation-feature.jpg?ver2" alt="">
                  <% end %>
                  <div class="img-content">
                    <h2 class="text-white"><%= project.title %></h2>
                    <p class="text-white"><%= (project.description.split.first 10).join(" ")... %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3">
      <div class="right-content text-center">
        <div class="messages">
          <h2>Your messages</h2>
          <% @user.proposals.each do |proposal| %>
            <div class="card-product text-left">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <h2><%= proposal.user.firstname %></h2>
                <p><%= proposal.pitch.first(25) %>...</p>
                <%= link_to  "Access your messages", proposal_path(proposal) %>
              </div>
            </div>
          <% end %>
          <% if @user == current_user %>
            <%= link_to  "Access your message", project_proposals_path(@projects, @proposals) %>
          <% end %>
        </div>
        <div class="righ-content">
          <%= link_to new_project_path do %>
            <div class="create-new">
              <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Plus_font_awesome.svg" alt="">
              <h3 class="linkcreate">Create new project</h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

