<div class="big-container">
  <div class="user-show-banner">
    <div class="user-h1">
      <h1>Create your project</h1>
    </div>
    <%= link_to "Get started", new_project_path, class: "user-show-btn home-btn btn btn-primary" %>
  </div>
  <div class="container">
    <div class="welcome-user d-flex justify-content-center align-items-center">
      <h1>Welcome <%= @user.firstname %>!</h1>
    </div>
    <div class="dash mb-4">
      <div class="project-content">
        <h3 class="user-border-title">Currents Projects</h3>
        <div class="all-user-projects">
          <% @projects.each do |project| %>
            <%= link_to project_path(project) do %>
              <div class="project-img mb-4">
                <%= cl_image_tag project.photos.first.key, class: "imgs-show" %>
                <div class="img-content">
                  <h4 class="text-white"><%= project.title %></h4>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="right-content text-center">
        <h3 class="user-border-title text-left">Yours proposals</h3>
        <div class="messages p-3">
          <h2>Helper Offers</h2>
          <% @user.projects.each do |project| %>
            <h5><%= project.title %></h5>
            <% if project.proposals.empty? %>
              <p><i>Sorry no offers yet on this project</i></p>
            <% else %>
            <% project.proposals.each do |proposal| %>
              <div class="card-product text-left">
                <% if current_user.photo.attached? == false %>
                  <%= cl_image_tag "https://res.cloudinary.com/renaudaf/image/upload/v1605724952/logo_ijlnmg.jpg", class: "imgs-show" %>
                <% else %>
                  <%= cl_image_tag current_user.photo.key, class: "imgs-show" %>
                <% end %>
                <div class="card-product-infos">
                  <div>
                    <p> <%= link_to "View #{proposal.user.firstname}'s' offer", proposal_path(proposal) %></p>
                  </div>
                </div>
              </div>
            <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
