<%= simple_form_for(@project) do |f| %>
<%= f.input :title, placeholder: "Give a title that identifies your goal" %>
<%= f.input :description, placeholder: "Explain your project as clearly as possible" %>
<% @project.measurements.each do |measurement| %>
<!-- Insert multiple image attachement function once cloudinary is set up -->
  <div>
    <input name="project[measurements][][name]" type="text" value="<%=measurement["name"] %>"> <input name="project[measurements][][dimension]" value="<%=measurement["dimension"]%>" type="text">
  </div>
<% end %>
  <label for="project[measurements][][name]">Measurements:</label>
<div>
  <input placeholder="What you are measuring" name="project[measurements][][name]" type="text"> <input placeholder="1m width 50 cm length" name="project[measurements][][dimension]" type="text">
</div>


<%= f.submit %>
<% end %>
