<div class="container">
  <h1>Create your project</h1>
  <%= simple_form_for(@project) do |f| %>
    <%= f.input :title, placeholder: "Give a title that identifies your goal" %>
    <%= f.input :description, placeholder: "Explain your project as clearly as possible" %>
    <%= f.input :tags, collection: @tag, input_html: { multiple: true }, include_hidden: false %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <% @project.measurements.each do |measurement| %>
      <div>
        <input name="project[measurements][][name]" type="text" value="<%=measurement["name"] %>"> <input name="project[measurements][][dimension]" value="<%=measurement["dimension"]%>" type="text">
      </div>
    <% end %>
    <label for="project[measurements][][name]">Measurements:</label>
      <button id="add-measure" class="btn btn-primary">Add a measurement</button>
      <br>
    <%= f.submit %>
  <% end %>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
</div>
