<div class="container">
  <div class="title d-flex justify-content-between">
    <h1> <%= @project.title %></h1>
    <h1><%= "Project type" %> </h1>
  </div>
  <div class="infocard">
    <div class="description d-flex">
      <h5><%= 'Project description:' %> </h5>
      <div class="descontent">
        <p><%= @project.description %>  </p>
      </div>
    </div>
    <% if @project.measurements.empty? == false  %>
      <div class="dimensions d-flex">
        <h5><%='Dimensions:' %> </h5>
        <div class="listdim">
          <ul><% @project.measurements.each do |measurement| %>
              <li> <%= measurement["name"] %>: <%= measurement["dimension"] %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="tags">
      <% @project.tags.each do |tag| %>
        <li class="li-tags"><%= tag.name.capitalize %></li>
      <% end %>
    </div>
    <% if @project.photos.attached? %>
      <%= cl_image_tag @project.photos.first.key, class: "imgs" %>
    <% else %>
      <img class="imgs " src="https://www.homerenodirect.com/communities/homecon2015/assets/htmltextboxuserimages/kitchen-renovation-feature.jpg?ver2" alt="">
    <% end %>
    <!-- Delete project button only for the user who created the project -->
    <div class="btndelete text-center">
      <% if policy(@project).destroy? %>
        <%= link_to "Update this project", edit_project_path(@project), class: 'btn btn-primary' %>
        <%= link_to "Delete this project", project_path, method: :delete, class: 'btn btn-primary', data: {confirm: "Are you sure you want to delete this project?"} unless current_user != @project.user %>
      <% end %>
      <!-- If the user is a helper, he will have the form to make a pitch -->
      <% if current_user.typehelper %>
        <%= render partial: "proposals/new" %>
      <% end %>
    </div>
  </div>
</div>
