<%# raise %>
<div class="container">
  <div id="chat-title">
    <h2> <%= current_user.typehelper == false ? "Chat with #{@proposal.user.firstname} for your #{@project.title}": "Your proposal for #{@project.user.firstname}'s #{@project.title}" %> project </h2>
  </div>
  <div class="d-flex justify-content-between" id="chat-room-full">
    <div id="chat-box w-75">
      <div class="chat-console overflow-auto message-container" data-proposal-id="<%= @proposal.id %>">
        <h5> <%=@proposal.user.firstname%> would like to take on your project, you can interact with this helper below 🙂 </h5>
        <br>
        <div class="message" style="text-align:center;" data-proposal-id="<%= @proposal.id %>" >
          <p> <strong> <%=@proposal.user.firstname%>: <%=@proposal.pitch%> </strong> </p>
        </div>
        <% @proposal.messages.each do |message| %>
        <div class="message" style="<%= message.user == current_user ? "text-align:left; color: #07689f; font-weight:bold" : "text-align:right;" %>" id="message-<%=message.id%>">
          <p> <%= message.content %> </p>
          <small> from: <%= message.user.firstname %></small>
        </div>
        <%end%>
      </div>
      <%= simple_form_for [ @proposal, @messages ], remote: true do |f| %>
      <%= f.input :content, label: false, autofocus: true, input_html: { :autocomplete => "off" } %>
      <% end %>
    </div>
    <div class="right-content text-center w-25">
      <div class="messages p-3" id="chat-other">
        <h2 id="other-title"> <%= current_user.typehelper == true ? "Your proposals" : "Your projects" %></h2>
        <% if current_user.typehelper == true %>
        <% current_user.proposals.each do |proposal| %>
        <div class="card-product text-left">
          <%= cl_image_tag proposal.project.photos.first.key, class: "imgs_show" %>
          <div class="card-product-infos">
            <p><%= link_to "#{proposal.project.title}", project_path(proposal.project) %> </p>
          </div>
        </div>
        <% end %>
        <% else %>
        <% @projects.each do |project| %>
        <div class="card-product text-left">
          <%= cl_image_tag project.photos.first.key, class: "imgs_show" %>
          <div class="card-product-infos">
            <p> <%= link_to "#{project.title}", project_path(project) %> </p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
        <%= simple_form_for @proposal do |f| %>
        <%= f.input :accepted, label: "Change the status of this offer", collection: ["accepted", "denied", "pending"]%>
        <%= f.submit "Confirm" %>
        <% end %>
    </div>
  </div>
</div>
