
<div class="container">
  <h2> Your Messages </h2>
  <div class="chat-console overflow-auto" data-proposal-id="<%= @proposal.id %>">
    <h5> <%=@proposal.user.firstname%> would like to take on your project, you can interact with this helper below 🙂 </h5>
    <br>
    <div class="message-container">
      <p> <%=@proposal.user.firstname%>: <%=@proposal.pitch%> </p>
    </div>
    <% @proposal.messages.each do |message| %>
    <div class="message-container">
      <p> <%= message.user.firstname %>: <%= message.content %> </p>
    </div>
    <%end%>
  </div>
  <%= simple_form_for [ @project, @proposal, @messages ], remote: true do |f| %>
  <%= f.input :content, label: false, autofocus: true %>
  <% end %>
</div>
