<%# raise %>
<div class="container">
  <div id="chat-title">
    <h2> <%= current_user.typehelper == false ? "Chat with #{@proposal.user.firstname} for your #{@project.title}": "Your proposal for #{@project.user.firstname}'s #{@project.title}" %> project </h2>
  </div>
  <div class="d-flex justify-content-between" id="chat-room-full">


    <div id="chat-box">


      <div class="chat-console message-container" data-proposal-id="<%= @proposal.id %>">


        <div class="message-proposal" data-proposal-id="<%= @proposal.id %>" >
          <p class="helper-name"><%= @proposal.user.firstname %> proposal:</p><p class="helper-pitch"> <%= @proposal.pitch %></p>
        </div>

        <div class="all-msg-chat overflow-auto mt-4">
          <% @proposal.messages.each do |message| %>
            <div class="message <%= message.user == current_user ? "msg-sent" : "msg-received"%>" >
              <small><%= message.user.firstname %></small>
              <div class="msg-content">
                <h6> <%= message.content %> </h6>
              </div>
              <!-- <small><%= time_ago_in_words(message.created_at) %> ago</small> -->
            </div>
          <% end %>
        </div>


      </div>
      <div class="sent">
        <%= simple_form_for [ @proposal, @messages ], remote: true do |f| %>
          <%= f.input :content, label: false, autofocus: true, input_html: { :autocomplete => "off" } %>
          <%= image_submit_tag("paper-plane-regular.svg", class: 'search_button', alt: 'Find') %>
        <% end %>
      </div>
    </div>





    <div class="right-content text-center w-25">
      <% if current_user.typehelper == false %>
        <%= simple_form_for @proposal do |f| %>
          <%= f.input :accepted, label: "Change the status of this offer", collection: ["accepted", "denied", "pending"]%>
          <%= f.submit "Confirm" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<!-- text-align:left; color: #07689f; font-weight:bold" : "text-align:right;" " id="messagemessage.id" -->
