<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <%= favicon_link_tag %>
    <meta name="algolia-app-id" content="<%= ENV["YourApplicationID"] %>">
    <meta name="algolia-search-only-api-key" content="<%= ENV["YourAPIKey"] %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <% if request.path == "/" || request.path == "/users/#{params[:id]}" %>
      <div class="navbar-lewagon">
        <%= render 'shared/navbar' %>
      </div>
    <% else %>
      <div style="height: 80px;">
        <%= render 'shared/navbar' %>
      </div>
    <% end %>
    <%= render 'shared/flashes' %>
      <%= yield %>
      <% unless request.path == "/" %>
        <div style="height: 64px;">
            <%= render 'shared/footer' %>
        </div>
      <% end %>
  </body>
</html>
